img.bg {
    z-index: -1;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

.landing {
    position: relative;
    top: 50%;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
}

.title {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
