.searchform {
    margin-top: 100px;
    margin-bottom: 10px;

    .searchbar {
        width: 75%;
        height: 100%;
        border-color: transparent;
        border-radius: 15px;

        font-size: 150%;

        background-color: rgba($color: #ffffff, $alpha: 0.5);
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;

        &:focus {
            outline: none;
        }
    }
}
